.landing{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

#contact{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fill 0.5s ease forwards 3s;
}

#logo path:nth-child(1){
    stroke-dasharray: 405.5040588378906px;
    stroke-dashoffset: 405.5040588378906px;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){
    stroke-dasharray: 475.2002258300781px;
    stroke-dashoffset: 475.2002258300781px;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3){
    stroke-dasharray: 329.47198486328125px;
    stroke-dashoffset: 329.47198486328125px;
    animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(4){
    stroke-dasharray: 267.8399963378906px;
    stroke-dashoffset: 267.8399963378906px;
    animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(5){
    stroke-dasharray: 518.3921508789062px;
    stroke-dashoffset: 518.3921508789062px;
    animation: line-anim 2s ease forwards 1.2s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}


.bg{
    background-color: #1F2833;
}
.reflection{
    width: 1200px;
    height: 800px;
    position: relative;
    background: url(../img/placeholder.png);
    background-position: bottom;
    background-size: cover;
    box-shadow: 0px 50px 70px rgba(0,0,0,0.3),
                0px 10px 10px rgba(0, 0, 0, 0.1);
}
.reflection ::after{
    content:"";
    background-image: inherit;
    width: inherit;
    height: 40%;
    position: absolute;
    bottom: -41%;
    transform: scaleY(-1);
    background-position: bottom;
    background-size: cover;
    opacity: 0.5;
}
.reflection ::before{
    content:"";
    width: inherit;
    height: 42%;
    position: absolute;
    bottom: -42%;
    background: linear-gradient(to bottom,rgba(255,255,255,0.3),white);
    z-index: 1;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    color: white;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
  
h2 {
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h3{

    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.contact{
    margin-left: auto;
    margin-right: auto;
}

#discord{
    width: 400px;
    height: auto;
}

/* Work */

#work {
	background: #1F2833;
}

#projects {
	width: 900px;
	margin: 0 auto 0 auto;
}

#projects ul {
	padding: 0;
}

#projects ul li {
	width: 33.3%;
	float: left;
	margin-bottom: 15px;
}

#projects img {
	width: 270px;
	height: 180px;
	border-radius: 5px;
}

#projects img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}